.container {
    padding-top: 90px;
	width: 70%;
}

/*Registration and login*/
.panel {
    border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel>.panel-heading p{
	color: #029f5b;
	font-size: 18px;
}
.panel>.panel-heading p.label{
	color: #029f5b;
	font-size: 18px;
}
.panel>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel input[type="text"],.panel input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel textarea[id="description"]{
	height: 150px;
        resize: none;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel input:hover,
.panel input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.login-redirect {
	text-decoration: underline;
	color: #888;
}
.login-redirect:hover,
.login-redirect:focus {
	text-decoration: underline;
	color: #666;
}
.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

/*Items table*/
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading{
        height: 50px;
}
.filterable .btn-items{
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    text-transform: uppercase;
    border-color: #1CB94A;
    color: white !important;
    margin-top: -3px;
}
.filterable .btn-items:hover,
.filterable .btn-items:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
.filterable .filters input[disabled], th{
	font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}
.filterable .table-responsive .bid{
    width: 60px;
    height: 34px;
    float: left;
    text-align: center;
} 
.filterable .table-responsive .btn{
    width: 50px;
    height: 34px;
    float: left;
    text-align: center;
}

/*Edit/add item*/
.btn-submit-item {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-submit-item:hover,
.btn-submit-item:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

/*Remove increment arrows from number input*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}