<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.epam.mentoring.springboot.controller, com.epam.mentoring.springboot.service, com.epam.mentoring.springboot.dao, com.epam.mentoring.springboot.validator"/>
    
    
    <bean id="UserDAO" class="com.epam.mentoring.springboot.dao.oracle.OracleUserDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="ItemDAO" class="com.epam.mentoring.springboot.dao.oracle.OracleItemDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <bean id="BidDAO" class="com.epam.mentoring.springboot.dao.oracle.OracleBidDAO">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="java:/comp/env/jdbc/Marketplace"/>
    </bean>

    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <mvc:annotation-driven />

</beans>